on:
  push:
    branches:
    - dev/*

jobs:
  deploy:
    name: 'Preview changes to dev'
    runs-on: ubuntu-latest
    steps:
    - name: 'Checking out repo code'
      uses: actions/checkout@v2
    # - name: Azure Login
    #   uses: azure/login@v1
    #   with:
    #     creds: ${{ secrets.AZURE_CREDENTIALS }}
    # - name: Show current account
    #   run: "az account show"
    - name: Infrastructure preview
      uses: pulumi/actions@v4
      with:
        command: preview
        stack-name: dev
      env:
        PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
        ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
    # - name: Azure Logout
    #   uses: azure/CLI@v1
    #   with:
    #     inlineScript: |
    #       az logout
    #       az cache purge
    #       az account clear
